.UsersInfiniteWindowList .User-container {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-bottom: 0.6rem;
}

.UsersInfiniteWindowList .User-container:first-child {
  padding-top: 0.7rem;
}

.UsersInfiniteWindowList .User {
  padding: 1rem;
}
