* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a, a:visited, a:active {
  text-decoration: none;
}


.MaterialSelect {
  text-align: left;
  width: 256px;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 12px;
}

.MaterialSelect .Select-control {
  border: none;
}

.MaterialSelect .select-line {
  margin: 0;
  position: absolute;
  width: 100%;
  box-sizing: content-box;
}

.is-focused:not(.is-open) .Select-control {
  border-color: black;
  box-shadow: none;
}

.MaterialSelect .normal-line {
  border-top: none rgb(224, 224, 224);;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.MaterialSelect .normal-line-focus {
  border-top: none rgb(0, 188, 212);
  border-bottom: 2px solid rgb(0, 188, 212);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform: scaleX(0);
}

.is-focused:not(.is-open) .normal-line-focus {
  transform: scaleX(1);
}

.normal-line-focus.has-error {
  border-top: none rgb(244, 67, 54);
  border-bottom: 2px solid rgb(244, 67, 54);
  transform: scaleX(1);
}

.Select-menu-outer {
  z-index: 100;
}

.MaterialSelect .select-error-container {
  padding-top: 8px;
  bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  color: rgb(244, 67, 54);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.MaterialSelect .line-container {
  position: relative;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  padding-left: 0;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  pointer-events: none;
  user-select: none;
  color: rgba(0, 0, 0, 0.3);
}

.Select-input {
  padding-left: 0;
}
